# ---------------------------------------------------------
# Camera definition
# ---------------------------------------------------------
name: frontdoor
display_name: 玄関ドア
enabled: true
type: tapoc113

# ---------------------------------------------------------
# Connection settings
# ---------------------------------------------------------
connection:
  host: IP_ADDRESS_or_HOSTNAME
  port: RTSP_PORT
  userid: null
  passwd: null

# ---------------------------------------------------------
# FFmpeg recording settings
# ---------------------------------------------------------
ffmpeg:
  profile: default
  segment_time: 300
  latest_fps: 3

# ---------------------------------------------------------
# Motion detection settings
# ---------------------------------------------------------
motion:
  enabled: true
  threshold: 64
  min_area: 500
  blur: 3
  noise_v_kernel_height: 10
  max_aspect_ratio: 0.8

# ---------------------------------------------------------
# Event handling settings
# ---------------------------------------------------------
event:
  timeout: 10
  post_motion_buffer_sec: 2

